$font-family-Open-Sans: 'Open Sans';

.rater-header {
    padding: 0;

    &.bg-dark {
        height: 80px;
        background: $bg-darkblue !important;
        box-shadow: 0px 4px 4px 0px #00000040;

    }

    .header-logo {
        padding-left: 20px;
    }

    .navbar-collapse {
        justify-content: flex-end;

        .top-bar {
            justify-content: flex-end;
            margin-right: 20px;
            position: relative;
            top: 5px;

            .nav-item {
                padding-right: 2px !important;
                margin: 0 !important;

                .nav-link {
                    line-height: normal;
                    padding-bottom: 0 !important;

                    &.user-logo img {
                        width: 24px;
                        height: 25.04px;
                    }

                    &.logout-logo {
                        width: 24px;
                        height: 24px;
                    }
                }

                &:hover {
                    background: $bg-darkblue !important;
                    border-top-left-radius: none;
                    border-top-right-radius: none;

                    .nav-link {
                        color: $text-white !important;
                    }
                }

            }

        }



        .navbar-nav {
            &.nav-menu {
                margin-right: 120px;
                margin-top: 4px;
                position: relative;
                top: 8px;
            }

            .nav-item {
                margin: 0 12px 0 12px;

                .nav-link {
                    font-family: $font-family-Open-Sans;
                    font-size: $fs-14;
                    font-weight: $fw-400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $text-white;
                    padding-bottom: 12px;
                }

                &:hover {
                    background: #F8FAFF;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    cursor: pointer;

                    .nav-link {
                        color: #032F38;
                    }
                }

                &.active {
                    background: #F8FAFF;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    .nav-link {
                        color: #032F38;
                    }
                }
            }
        }
    }
}